# Código compilado
*.class
target/**

# Empaquetados
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs
*.log

# Archivos de Eclipse e IntelliJ IDEA
.classpath
.project
.settings
*.iml
*.ipr
*.iws
.idea

devDb.h2.db
devDb.lock.db
devDb.trace.db
